/node_modules
/public/storage

# IDE Files
nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.bundle
.project
.settings
_ide_helper.php
.phpstorm.meta.php

# Composer Files
composer.phar
composer.lock

# OS Files
.DS_Store
Thumbs.db

# Environment files
.vagrant

# App environment
.env
.env.*

# Application Based Files
/bootstrap/compiled.php
/vendor
/storage/proxies
/storage/framework/
/storage/fonts/*

# Vendor files
/public/vendor

#Capistrano
/config/myconfig.rb
/log/capistrano.log


#Uploads
/public/uploads/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
