/node_modules
/public/storage

# IDE Files
nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.bundle
.project
.settings
_ide_helper.php
.phpstorm.meta.php

# Composer Files
composer.phar
composer.lock

# OS Files
.DS_Store
Thumbs.db

# Environment files
.vagrant


.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
